@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sikkerhetsboost med Secure Http Headers</h1>
    <p class="lead">Demoside for å vise bruken av forskellige Http Security Headers</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Foredrag</h2>
        <p>
            Presentasjon av CSP
        </p>
        <p><a class="btn btn-default" href="#">Start presentasjonen</a></p>
    </div>
    <div class="col-md-4">
        <h2>CSP demoside</h2>
        <p>Demonstrasjon av Content Security Policy (CSP)</p>
        <p>@Html.ActionLink("CSP-demo", "Index", "Csp", null, new {@class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>